*{
    margin: 0;
    padding: 0;
}

body{
font-family: Helvetica, Calibri, Arial, sans-serif;
}

/* Header section */

header{
    height: 100vh;
    background:#FAE62D;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    color:#1A2238;
}

header img{
    height: 12em;
    border-radius: 50%;
    width: 190px;
    height: 190px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

header h1{
    font-size: 4.5em;
    margin: 0.25em;
    color:#1A2238;
}

.typewriter h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    font-size: 2em;
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #1A2238; }
  }

.round {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
}

.round h3 {
    font-size: 14px;
    margin-top: 50px;
    margin-left: -28px;
    color:#1A2238;
    width: 110px;
}

span {
    z-index: 999;
    height: 3px;
    width: 16px;
    background: #1A2238;
    transition: 0.4s ease;
}

span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}


/* nav section */

a{
    text-decoration:none;
}

nav a {
    color:#FAE62D;
    font-size: 1.25em;
    font-weight: bold;
    padding: 14px 0;
}

nav {
    display:flex;
    justify-content:space-evenly;
    z-index:2;
    position: sticky;
    background-color:#1A2238;
    top:0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

a:hover{
    color: #1FC58E;
}


/* mian section */
.dark{
    background-color:#1A2238;
}
.purple{
    background-color:#9DAAF2;
}
.orange{
    background-color:#FF6A3D;
}
.yellow{
    background-color:#FAE62D;
}

.green{
    background-color:#1FC58E;
}

section{
    height: 500px;
    background: transparent;
}


section .header {
    justify-content: center;
    align-items: center;
    font-size: 2em;
    display: flex;
    padding: 0.5em;
    margin: 0 20px;
    border-bottom: 4px solid #1A2238;
    height: 18vh;
}

p{
    margin: 0 20px;
    margin-top: 20px;
}